@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.search{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url("./components/ready\ to\ rent.png");
}

.camera{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    gap: 16px;
}

.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgb(40, 40, 146);
}
.categories_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.cameraform{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.adddatahead{
    padding: 20px;
}

.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    height: 600px;
    background-color: #f2f2f2;
}